<h2>We're sorry, but we couldn't find a link for the URL you entered.</h2>

<p>It's possible that the link has expired. Or, if you entered the URL manually, double check that you entered it correctly. URL's will generally look like this:</p>

<ul>
  <li><%= Cleat::base_url %>/<%= Cleat::prefix %>a1 <em>or</em></li>
  <li><%= Cleat::base_url %>/<%= Cleat::prefix %>short-description</li>
</ul>