<% unless request.xhr? %><table id="links_list"><% end %>
  <thead>
    <tr>
      <th>Title</th>
      <th>Destination</th>
      <th>Link</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
  </tbody>

<% unless request.xhr? %></table><% end %>